<h3>Information Sidebar</h3>
<h4>Allocation Request Form</h4>
<p>
An allocation request allows you to formally request a block of CPU-time,
to be used at your discretion, on the HPC systems.</p>

<h4>Summary</h4>
<p>Provide a <b>Summary</b>; a brief title/sentence that identifies your proposal.</p>

<h4>Proposal</h4>
<p>
The <b>Proposal</b> should be a paragraph or paragraphs describing why you need the
system resources and how they will help with your work.  You may wish to identify
any grants, publications, or initiatives the work will support.
</p>

<h4>CPU Hours</h4>
<p>
Finally, provide the <b>Required CPU hours</b>.  If you're unsure, leave the default value, 50,000
hours as that will be a good starting point.
</p>
