<h3>Information Sidebar</h3>
<h4>What are allocations?</h4>
<p>
Allocations are grants of time provided on the system for running calculations.
This page shows allocation requests you have made and their status.  If you are working
with a contributing research group or you are using CIRCE to fulfill coursework
requirements, you needn't worry about allocations.
</p>

<p>
You can read more about allocations here: <%= textilizable "[[Do I need an Allocation?|Allocation Information]]" %>
</p>
