<div id="basic_info_div" class="box" style="width:90%; text-align:left;">
  <h3>Basic Information</h3>
  <table>
  <tr>
    <td><%= @form_var.label :name %></td>
    <td><%= @form_var.text_field :name, :size => 25 %></td>
  </tr>
  <tr>
    <td><%= @form_var.label :version %></td>
    <td><%= @form_var.text_field :version, :size => 25 %></td>
  </tr>
  </table>
  </p>
</div>
