<h3>Information Sidebar</h3>
<h4>Submit a Job</h4>
<p>
You can submit this application as a job to the HPC cluster by filling in the form to the left.  
</p>
<h4>Selecting a file or Directory</h4>
<p>
This is a simple file browser that shows you your current files in both /home and /work on the HPC cluster.
Directories are on the left, files on the right.

Double-clicking a directory entry will change the current directory to the one selected, so you can view 
further sub-directories and files. Use the back button when present to return to the previous level directory
</p>
<h4>Job Name</h4>
<p>
<b>Job Name</b> can be any string you want to use to identify your job.  Please, no spaces or fancy 
characters.
</p>
