<h3>Information Sidebar</h3>
<h4>Available Applications</h4>
<p>
These are applications that are available to run via the web.  Click the
link of your application in order to start the submission interface.
</p>
