<h2>Dashboard</h2>
<% @board = CwaDashboard.find_all_by_user_id(User.current.id) %>
<!--Chart pull just one value for the user 
<img src = "<%#= Gchart.pie(:data => [@board.map(&:hd_used)], :title => 'Hard Disk Utilization', :legend => ['Jan', 'Feb', 'Mar'], :size => '300x300') %>">
-->
<%  @cwa_db_user_utils = CwaDbUserUtil.find_all_by_user_id(User.current.id) %>
<% @cwa_db_user_utils.each do  |u| %>
<% end %>

<%  @cwa_db_hgrp_utils = CwaDbHgrpUtil.find_all_by_hgrp_id(User.current.id) %>
<% @cwa_db_hgrp_utils.each do  |g| %>
<% end %>

<% @cwa_db_grp_util = CwaDbGrpUtil.find_all_by_grp_own_id(User.current.id) %>

<table cellspacing = 10>
<tr><td><b><center>User Utilization Last 30 Days</b></td>
<td><b><center>Host Groups Utilization Last 30 Days</b></td>
<td><b><center>Group Disk Utilization</b></td></tr>
<tr><td>
<!-- <img src = "<= Gchart.pie(:data => [u.cpu_hrs, u.ave_mem_job, u.curr_hd_util], :legend => ['CPU Hrs', 'Ave Mem Per Job', 'Current HD Util']) >"> -->

</td><td>
<!-- <img src = "<= Gchart.pie(:data => [g.free_mem, g.free_swap, g.user_cpu_util, g.sys_cpu_util, g.nice_cpu_util, ], :legend => ['Free Mem', 'Free Swap', 'User Cpu', 'Sys Cpu', 'Nice Cpu']) >"> -->
</td>
<td>
<img src = "<%= Gchart.pie(:data => [@cwa_db_grp_util.map(&:grp_hd_util)], :legend => @cwa_db_grp_util.map{ |x| x.grp_id}) %>">
</td>
</tr>
	<tr>
		<td><b>User Name</b></td>
	</tr>
	<tr>
	<td>	<%= User.current.id %> </td>
		
	</tr>
</table>
