<h3>Information Sidebar</h3>
<h4>Create Group</h4>
<p>
All you need is a name (upper and lower case letters, numbers, and periods are allowed), and a description
and you can create a group to share files and collaborate with other users.
</p>
<p>
For more information on the Group Manager, please see the following:
<%= textilizable "[[Group Manager]]" %>
</p>
