<h3>Information Sidebar</h3>
<h4>All Groups</h4>
<p>
This is a list of all of the groups in the system.  You can click on groups to request to join or to view
basic information about the groups.
</p>
<p>
For more information on the Group Manager, please see the following:
<%= textilizable "[[Group Management]]" %>
</p>
