<h3>Information Sidebar</h3>
<h4>My Groups</h4>
<p>
The <b>My Groups</b> section provides a list of groups you've created and administer.  If none appear,
you manage no groups.  If there are entries, you can click on the link for a group in order to manage 
its members and other group options.
</p>
<h4>Group Memberships</h4>
<p>
The <b>Group Memberships</b> section shows groups you belong to but do not administer.  You can view the
member list for these groups or you can leave the groups by clicking on the group link.
</p>

<h4>Requests to Join</h4>
<p>
If you have any pending requests to join one of your groups, it will appear in a <b>Requests to Join</b> box.
You can approve or decline the request.
</p>

<h4>Your Join Requests</h4>
<p>
If you have any outstanding group join requests, they will appear in a <b>Your Join Requests</b> box.  You can
delete your request if you change your mind.
</p>

<h4>Options</h4>
<p>
You can browse a list of groups to join or create your own group.
</p>
<p>
For more information on the Group Manager, please see the following:
<%= textilizable "[[Group Manager]]" %>
</p>
