<h3>Information Sidebar</h3>
<h4>Group Information</h4>
<p>
Basic group information is provided.  If you are the manager of the group, you can remove
members from the <b>Members</b> list by simply clicking the button with an X next to the
NetID.
</p>
<h4>Options</h4>
<p>
If you are the manager of the displayed group, you will be able to add members to the group by NetID.
New members can only be added if the member being added has activated their account with CWA.
</p>
<p>
You can also <b>Disband</b> the group, removing it and the membership list from the system.
</p>
<p>
If you're a member of the group but not the manager, you can click <b>Leave</b> to leave the group.
</p>
<p>
For more information on the Group Manager, please see the following:
<%= textilizable "[[Group Manager]]" %>
</p>
