<h3>Information Sidebar</h3>
<h4>Current Jobs</h4>
<p>
The current job list is show on the top.  You can delete jobs or use the
<b>Job Directory</b> links to view your output.
</p>
<h4>Job History</h4>
<p>
The bottom list is your job history.  Jobs submitted
to the cluster outside of the CWA interface will not appear in your history.  
</p>

<h4>Job Directory Links</h4>
<p>
Job directory links will start an SFTP client in order to take you to the
specified path.  If the links do not work for you, please visit the following
wiki page:
<%= textilizable "[[SFTP Support|Job Directory Link Support]]" %>
</p>
