<script>
$(document).ready(
  function(){
    setInterval(function(){
      $('#currentJobs').load('/cwa_jobmanager/current_jobs');
      $('#currentQueue').load('/cwa_jobmanager/queue_status');
      $('#jobHistory').load('/cwa_jobmanager/job_history');
    }, 10000);
  });
</script>
<style>
div#ajax-indicator {
  visibility: hidden;
}
</style>
<h2>Job Manager</h2>
<div id="currentQueue" class="box">
  <%= render :partial => 'cwa_jobmanager/queue_status' %>
</div>

<div id="currentJobs" class="box">
  <%= render :partial => 'cwa_jobmanager/current_jobs' %>
</div>

<div id="jobHistory" class="box">
  <%= render :partial => 'cwa_jobmanager/job_history' %>
</div>
