<h3>Information Sidebar</h3>
<h4>My Files</h4>
<p>
These are your files on the HPC environment.  You can right-click 
on any file or directory to perform various actions.  Use the 
directory tree on the left to navigate.
</p>

<h3>Directory Information</h3>
<div id="dirInfo">
No Directory Selected
</div>

<h3>File Information</h3>
<div id="fileInfo">
No File Selected
</div>
