div.browserButtonContainer {
  float:left;
}
div.browserButton {
  color:#444444;
  background:#BCC2C5;
  float:left;
  position:relative;
  padding: 3px;
  text-align:center;
  max-width:64px;
  min-width:56px;
  border:1px solid #DFDFDF;
  border-bottom: 1px solid #CDD3D6;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-top-left-radius: 8px;
  -moz-border-top-right-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  z-index:2;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
div.browserButtonSelected {
  float:left;
  position:relative;
  background:#DEE4E7;
  padding: 3px;
  text-align: center;
  max-width:64px;
  min-width:56px;
  border:1px solid #DFDFDF;
  border-bottom: 1px solid #DEE4E7;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-top-left-radius: 8px;
  -moz-border-top-right-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  z-index:2;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
div.browserButtonBack {
  float:right;
  position:relative;
  color: #FFFFFF;
  background:#006747;
  padding: 3px;
  text-align: center;
  text-decoration: bold;
  max-width:64px;
  min-width:48px;
  border:1px solid #DFDFDF;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  z-index:2;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
div.browserButtonBackInactive {
  float:right;
  position:relative;
  color: #AFAFAF;
  background:#006747;
  padding: 3px;
  text-align: center;
  text-decoration: bold;
  max-width:64px;
  min-width:48px;
  border:1px solid #DFDFDF;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  z-index:2;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
div.browserSelector {
  float:left;
  position:relative;
  z-index:1;
  width: 100%;
  height: 256px;
  background: #FFFFFF;
}

div.browserSelectorFull {
  float:left;
  position:relative;
  padding-top: 18px;
  padding-bottom: 18px;
  z-index:1;
  background: #FFFFFF;
  border-top: 12px solid #DEE4E7;
  width: 100%;
}

div.browserDirEntry {
  background: #FFFFFF url('/plugin_assets/cwa/images/folder.png') no-repeat left;
  background-size: 24px 24px;
  z-index:10;
  padding: 4px;
}

div.browserDirEntrySelected {
  background: #DEE4E7 url('/plugin_assets/cwa/images/folder.png') no-repeat left;
  background-size: 24px 24px;
  z-index:10;
  padding: 4px;
}

div.browserDirEntryIcon {
  background: #FFFFFF url('/plugin_assets/cwa/images/folder.png') no-repeat center top;
  background-size: 42px 42px;
  z-index:10;
  padding: 12px;
  float: left;
  height: 82px;
  width: 82px;
  overflow-wrap: break-word;
}

div.browserDirEntryIconSelected {
  background: #DEE4E7 url('/plugin_assets/cwa/images/folder.png') no-repeat center top;
  background-size: 42px 42px;
  z-index:10;
  padding: 12px;
  float: left;
  height: 82px;
  width: 82px;
  overflow-wrap: break-word;
}

div.browserContainer {
  height: 100%; 
  position:relative; 
  float:left; 
}

div.browserContainer {
  height: 100%; 
  position:relative; 
  float:left; 
  overflow:auto;
}

p.browserEntry {
  margin-left: 28px;
  cursor: default;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

p.browserEntryIcon {
  text-align: center;
  margin-top: 38px;
  cursor: default;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

div.browserFileEntry {
  background: #FFFFFF url('/plugin_assets/cwa/images/file.png') no-repeat left;
  background-size: 24px 24px;
  z-index:10;
  padding: 4px;
}

div.browserFileEntryDisabled {
  background: #FFFFFF url('/plugin_assets/cwa/images/file.png') no-repeat left;
  background-size: 24px 24px;
  color: #AAAAAA;
  z-index:10;
  padding: 4px;
}

div.browserFileEntrySelected {
  background: #DEE4E7 url('/plugin_assets/cwa/images/file.png') no-repeat left;
  background-size: 24px 24px;
  color: #000000;
  z-index:10;
  padding: 4px;
}

div.browserFileEntryIcon {
  background: #FFFFFF url('/plugin_assets/cwa/images/file.png') no-repeat center top;
  background-size: 42px 42px;
  z-index:10;
  padding: 12px;
  float: left;
  height: 82px;
  width: 82px;
  overflow-wrap: break-word;
}

div.browserFileEntryIconSelected {
  background: #DEE4E7 url('/plugin_assets/cwa/images/file.png') no-repeat center top;
  background-size: 42px 42px;
  color: #000000;
  z-index:10;
  padding: 12px;
  float: left;
  height: 82px;
  width: 82px;
  overflow-wrap: break-word;
}

div.browserDirEntry:hover {
  background: #DEE4E7 url('/plugin_assets/cwa/images/folder.png') no-repeat left;
  background-size: 24px 24px;
  z-index:10;
  padding: 4px;
}
}

div.browserDirEntryIcon:hover {
  background: #DEE4E7 url('/plugin_assets/cwa/images/folder.png') no-repeat left;
  background-size: 24px 24px;
  z-index:10;
  padding: 4px;
}

div.browserFileEntry:hover {
  background: #DEE4E7 url('/plugin_assets/cwa/images/file.png') no-repeat left;
  background-size: 24px 24px;
  z-index:10;
  padding: 4px;
}

table.options {
  table-layout: fixed;
  border: 0px solid black;
}

table.browserTab {
  background:#DEE4E7;
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid;
  width: 100%;
}
.descCol {
  width: 25%;
}
.itemCol {
  width: 75%;
}
.dirCol {
  border: none;
  width: 40%;
}
.fileCol {
  border: none;
  width: 60%;
}

div.menu {
  position: absolute;
  padding: 8px 8px 8px 8px;
  border:1px solid #DFDFDF;
  background: #CDD3D6;
  z-index: 100;
  display: none;
}

div.menuItem {
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: default;
}

div.menuItem:hover {
  background: #BCC2C5;
  cursor: default;
}
