div.browserButtonContainer {
  float:left;
}
div.browserButton {
  color:#444444;
  background:#BCC2C5;
  float:left;
  position:relative;
  padding: 8px 0px;
  text-align:center;
  font-weight: bold;
  width: 100%;
  border:1px solid #DFDFDF;
  border-bottom: 1px solid #CDD3D6;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-top-left-radius: 8px;
  -moz-border-bottom-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  z-index:2;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
div.browserButtonSelected {
  float:left;
  position:relative;
  background:#DEE4E7;
  padding: 8px 0px;
  text-align: center;
  font-weight: bold;
  width:100%;
  border:1px solid #DFDFDF;
  border-bottom: 1px solid #DEE4E7;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-top-left-radius: 8px;
  -moz-border-bottom-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  z-index:2;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
div.browserButtonBack {
  float:right;
  position:relative;
  cursor: default;
  -moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
  box-shadow:inset 0px 1px 0px 0px #f7c5c0;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d) );
  background:-moz-linear-gradient( center top, #fc8d83 5%, #e4685d 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d');
  background-color:#fc8d83;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #d83526;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #b23e35;
}.browserButtonBack.hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83) );
  background:-moz-linear-gradient( center top, #e4685d 5%, #fc8d83 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83');
  background-color:#e4685d;
}.browserButtonBack:active {
  position:relative;
  top:1px;
}
div.browserButtonBackInactive {
  float:right;
  position:relative;
  cursor: default;
  -moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
  box-shadow:inset 0px 1px 0px 0px #f7c5c0;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d) );
  background:-moz-linear-gradient( center top, #fc8d83 5%, #e4685d 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d');
  background-color:#fc8d83;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #d83526;
  display:inline-block;
  color:#bbbbbb;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
}
div.browserSelector {
  float:left;
  position:relative;
  z-index:1;
  width: 100%;
  height: 256px;
  background: #DEE4E7;
}

div.browserSelectorFull {
  float:left;
  position:relative;
  width: 90%;
  padding-top: 18px;
  padding-bottom: 18px;
  background: #DEE4E7;
  border-top: 12px solid #DEE4E7;
  min-height: 550px;
  margin-top:12px;
}

div.actionButtons {
  float: left; 
  position: relative; 
  width: 100%;
}

div.browserDirEntry {
  background: #DEE4E7 url('/plugin_assets/cwa/images/folder.png') no-repeat left;
  background-size: 24px 24px;
  z-index:10;
  padding: 4px;
}

div.browserDirEntrySelected {
  background: #BCC2C5 url('/plugin_assets/cwa/images/folder.png') no-repeat left;
  background-size: 24px 24px;
  z-index:10;
  padding: 4px;
}

div.browserDirEntryIcon {
  background: #DEE4E7 url('/plugin_assets/cwa/images/folder.png') no-repeat center top;
  background-size: 42px 42px;
  z-index:10;
  padding: 12px;
  float: left;
  height: 82px;
  width: 82px;
  /*overflow-wrap: break-word;*/
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

div.browserDirEntryIconSelected {
  background: #BCC2C5 url('/plugin_assets/cwa/images/folder.png') no-repeat center top;
  background-size: 42px 42px;
  z-index:10;
  padding: 12px;
  float: left;
  height: 82px;
  width: 82px;
  /*overflow-wrap: break-word;*/
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
}

div.browserContainer {
  height: 100%; 
  position:relative; 
  float:left; 
}

div.browserContainer {
  height: 100%; 
  position:relative; 
  float:left; 
  overflow:auto;
}

p.browserEntry {
  margin-left: 28px;
  cursor: default;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

p.browserEntryIcon {
  text-align: center;
  margin-top: 38px;
  cursor: default;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

div.browserFileEntry {
  background: #DEE4E7 url('/plugin_assets/cwa/images/file.png') no-repeat left;
  background-size: 24px 24px;
  z-index:10;
  padding: 4px;
}

div.browserFileEntryDisabled {
  background: #DEE4E7 url('/plugin_assets/cwa/images/file.png') no-repeat left;
  background-size: 24px 24px;
  color: #AAAAAA;
  z-index:10;
  padding: 4px;
}

div.browserFileEntrySelected {
  background: #BCC2C5 url('/plugin_assets/cwa/images/file.png') no-repeat left;
  background-size: 24px 24px;
  color: #000000;
  z-index:10;
  padding: 4px;
}

div.browserFileEntryIcon {
  background: #DEE4E7 url('/plugin_assets/cwa/images/file.png') no-repeat center top;
  background-size: 42px 42px;
  z-index:10;
  padding: 12px;
  float: left;
  height: 82px;
  width: 82px;
  overflow-wrap: break-word;
}

div.browserFileEntryIconSelected {
  background: #BCC2C5 url('/plugin_assets/cwa/images/file.png') no-repeat center top;
  background-size: 42px 42px;
  color: #000000;
  z-index:10;
  padding: 12px;
  float: left;
  height: 82px;
  width: 82px;
  overflow-wrap: break-word;
}

div.browserDirEntry:hover {
  background: #BCC2C5 url('/plugin_assets/cwa/images/folder.png') no-repeat left;
  background-size: 24px 24px;
  z-index:10;
  padding: 4px;
}
}

div.browserDirEntryIcon:hover {
  background: #BCC2C5 url('/plugin_assets/cwa/images/folder.png') no-repeat left;
  background-size: 24px 24px;
  z-index:10;
  padding: 4px;
}

div.browserFileEntry:hover {
  background: #BCC2C5 url('/plugin_assets/cwa/images/file.png') no-repeat left;
  background-size: 24px 24px;
  z-index:10;
  padding: 4px;
}

table.options {
  table-layout: fixed;
  border: 0px solid black;
}

table.browserTab {
  background:#DEE4E7;
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid;
  width: 100%;
}
.descCol {
  width: 25%;
}
.itemCol {
  width: 75%;
}
.dirCol {
  border: none;
  width: 40%;
}
.fileCol {
  border: none;
  width: 60%;
}

div.menu {
  position: absolute;
  padding: 8px 8px 8px 8px;
  border:1px solid #DFDFDF;
  background: #CDD3D6;
  z-index: 15;
  display: none;
  -moz-box-shadow: 3px 3px 4px #333;
  -webkit-box-shadow: 3px 3px 4px #333;
  box-shadow: 3px 3px 4px #333;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333');
}

div.menuItem {
  padding: 4px;
  cursor: default;
  z-index: 16;
}

div.menuItem:hover {
  background: #BCC2C5;
  cursor: default;
}

div#upload {
  position: absolute;
  padding: 32px;
  background: #FFFFFF;
  border:1px solid #000000;
  height: 120px;
  width: 350px;
  margin: -60px 0 0 -175px;
  top: 50%;
  left: 50%;
  z-index: 20;
  display: none;
  -moz-box-shadow: 8px 8px 10px #333;
  -webkit-box-shadow: 8px 8px 10px #333;
  box-shadow: 8px 8px 10px #333;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333');
}

div.actionButton {
  float: right;
  position: relative;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  cursor: default;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
}
div.actionButton:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}
div.actionButton:active {
    position:relative;
    top:1px;
}

div.miniapp {
  position: absolute;
  padding: 32px;
  background: #CDD3D6;
  border:1px solid #000000;
  height: 500px;
  width: 700px;
  margin: -250px 0 0 -350px;
  top: 50%;
  left: 50%;
  display: none;
  z-index: 20;
  -moz-box-shadow: 8px 8px 10px #333;
  -webkit-box-shadow: 8px 8px 10px #333;
  box-shadow: 8px 8px 10px #333;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333');
}
