<h3>Information Sidebar</h3>
<h4>Account Activation</h4>
<p>
Read and agree to the Terms of Service and System Access Agreement
in order to activate your account on the Linux systems.  You'll enter
your NetID password to confirm your acceptance of the Terms of Service
and System Access Agreement.
</p>
